*{
    box-sizing:border-box;
}

h1,h3 {
    text-align:center;
}
body{
    background-color:rgb(167, 150, 177);
}

#calculator-frame{
    margin:0 auto 0 auto;
    background-color:rgb(99, 189, 164);
    width:350px;
    border:solid 2px rgb(0, 0, 0);
    border-radius:15px;
    /* grid-template-columns: repeat(4,20px);  */
}

#displaycontainer{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-end;
    font-family:'IBM Plex Mono',monospace;
    background:url(./images/bmoHappy.jpeg);
    background-repeat:no-repeat;
    border-radius:15px;
    background-size:300px;
    text-align:right;
    /* overflow-wrap:break-word; */
    border:solid 1px black;
    margin: 15px auto 0 auto;
    min-height:140px;
    width:300px;
}

#Backspace,
#Clear{
    background-color:rgb(242, 5, 83);
    box-shadow:2px 2px;
}
#Backspace:active,
#Clear:active{
    transform: translateY(1px) translateX(1px);
}

.numbutt{
    background-color:rgb(98, 175, 183);
    box-shadow:2px 2px;
    transition:all 0.1s;
}

.numbutt:active{
    transform: translateY(1px) translateX(1px);
}

.pressed{
    transform:translateY(1px) translateX(1px);
}

.operand,
#Enter,
#Control{
    background-color:rgb(255, 236, 71);
    box-shadow:2px 2px;
    transition:all 0.05s;
}

.operand:active,
#Enter:active,
#Control:active{
    transform: translateY(1px) translateX(1px);
}

#equationdisplayone,
#equationdisplaytwo{
    margin-right:10px;
    font-size:20px;
    height:30px;
    width:280px;
}
#equationdisplayone{
    margin-top:10px;
}

#equationcontainer{
    height:52px;
}

#display{
    text-align:right;
    /* min-height:65px; */
    margin-left:05px;
    margin-right:03px;
    /* font-size:50px; */
}

button{
    width:70px;
    border-radius:20px;
}

.button:hover{
    opacity:0.5
}

.add{
    grid-column:4;
    grid-row: 2/4;
}


#mathbuttons{
    display:grid;
    grid-template-columns:repeat(4 1fr);
    grid-auto-rows:70px;
    column-gap:05px;
    row-gap:010px;
    margin:15px;
}

#footercontainer{
    width:350px;
    background-color:rgb(4, 181, 151);
    border:2px solid black;
    border-radius:20px;
    display:flex;
    justify-content:space-between;
    padding:0 20px 0 20px;
    margin:0 auto 0 auto;
}

a{
    text-decoration:none;
    border:1px solid black;
    border-radius:10px;
    padding:5px;
    background:rgb(8, 141, 230);
}
a:link{
    color:black;
}






